{
    "APP_VERSION": "0.0.1",
    "APP_NAME": "Simple Mail Sender",
    "DESCRIPTION": "sample app",
    "ROOT_DIR": "C:\\Users\\PH_DEVPC\\Documents\\PERSONAL_PROJS\\sentimentanalysis-oop",
    "INSTITUTION": "none",
    "AUTHOR_NAME": "Kenneth",
    "APP_KEY": "ydlkuNysdELVc&OqGAKLveMjVqxFoHhAFP0s#MUffMBFaS!s"
}